nav {
    
background-color: #4056a1;
color: #FFFFFF;
height: 120px;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 500;
padding: 1.5em;
display: flex;
flex-direction: row;
justify-content: space-between;

}

#compose-new{

    display: flex ;
    flex-direction: column;

}

button {
    background-color: transparent;
    color: #FFFFFF;
    border-style: none;
    cursor: pointer;
    outline: none;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

